p {
  color: blue;
  font-size: 18px;
}
/* Creamos una clase llamada centrado */
.centrado {
  /* Aplicamos el estilo de alineación al centro */
  text-align: center;
}

/* También podemos usar un selector de elemento, como h1 */
h1 {
  text-align: center;
}

