p {
  color: red;
  font-size: 18px;
  font-family: cursive;
}
/* Creamos una clase llamada centrado */
.centrado {
  /* Aplicamos el estilo de alineación al centro */
  text-align: center;
}

/* También podemos usar un selector de elemento, como h1 */
h1 {
  text-align: center;
}

